REGISTRY_TOKEN=your-secret-token-here
LIDARR_CONFIG_PATH=/home/didizera/meu-nas/data/config/lidarr/config.xml
RADARR_CONFIG_PATH=/home/didizera/meu-nas/data/config/radarr/config.xml
SONARR_CONFIG_PATH=/home/didizera/meu-nas/data/config/sonarr/config.xml
PROWLARR_CONFIG_PATH=/home/didizera/meu-nas/data/config/prowlarr/config.xml
SEERR_SETTINGS_PATH=/home/didizera/meu-nas/data/config/seerr/settings.json
